.places{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.places h1{
    font-size: 30px;
    padding-left: 10px;
    padding-top: 20px;
    text-align: left;
    width: 100%;
}

.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    border-color: #FF5A5F;
    border-radius: 4px;
}

.places article h2{
    font-size: 30px;
    text-align: center;
}

.price_by_night{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF5A5F;
    border: 4px solid;
    border-color: #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    width: 0;
    border-radius: 100%;
    float: right;
    margin-top: -50px;
}

.information{
    display: flex;
    justify-content: center;
    height: 80px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #dddddd;
    margin-top: 2rem;
}

.max_guest,
.number_rooms,
.number_bathrooms{
    width: 100px;
}

.img_guest{
    height: 50px;
    width: 50px;
    background-image: url(../images/icon_group.png);
}

.img_rooms{
    height: 50px;
    width: 50px;
    background-image: url(../images/icon_bed.png);
}

.img_bathrooms{
    height: 50px;
    width: 50px;
    background-image: url(../images/icon_bath.png);
}

.text{
    margin-left: -5px;
}

.user{
    margin-top: inherit;
}

article .amenities{
    margin-top: 40px;
}

article .amenities h2{
    text-align: start;
    font-size: 16px;
    border-bottom: 1px #dddddd solid;
}

article .amenities li{
    padding: 5px;
}

article .reviews h2{
    margin-top:  40px;
    text-align: start;
    font-size: 16px;
    border-bottom: 1px #dddddd solid;
}

article .reviews li p{
    margin-top: -10px;
}
